* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
  scroll-behavior: smooth;
}

header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 25px;
}

header button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #111827;
}

nav a {
  color: white;
  padding: 12px 15px;
  text-decoration: none;
}

nav a:hover {
  background: #2563eb;
}

section {
  padding: 40px 20px;
  text-align: center;
}

.skills span {
  display: inline-block;
  background: #2563eb;
  color: white;
  padding: 8px 15px;
  margin: 8px;
  border-radius: 20px;
  transition: transform 0.3s;
}

.skills span:hover {
  transform: scale(1.1);
}

/* TIMELINE */
.timeline-section {
  background: #0b0f1a;
  color: white;
}

.timeline {
  max-width: 600px;
  margin: auto;
  position: relative;
  padding-left: 30px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 3px;
  height: 100%;
  background: linear-gradient(#00ff9c, #00b3ff);
}

.timeline-item {
  margin-bottom: 30px;
  position: relative;
}

.dot {
  position: absolute;
  left: -2px;
  width: 18px;
  height: 18px;
  background: #00ff9c;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff9c;
}

.timeline-item.current .dot {
  background: white;
}

.content {
  background: #111827;
  padding: 18px;
  margin-left: 30px;
  border-radius: 12px;
}

/* PROJECTS */
.project-list li {
  margin: 10px 0;
  list-style: none;
}

/* FORM */
form input, form button {
  padding: 10px;
  margin: 8px;
  width: 250px;
}

form button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 10px;
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}